@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav.navbar{
    padding: 0px;
}

.navbar .container-fluid{
    background: rgba(0, 0, 0, 0.7);
    padding: 3px 30px
}

.navbar .navbar-brand{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar .navbar-nav .nav-link{
    color: #fff;
    padding: 5px 10px;
    letter-spacing: 2px;
}

.navbar .navbar-nav .nav-link:hover{
    color: rgba(255,255,255,0.5);
    border-bottom-color:rgba(255,255,255,0.5);
}

#cluster-map {
    width: 100%;
    height: 500px;
    border-radius: 20px;
}

.show-container .section-title {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin: 20px 0px;
}

.show-container .section-title h1 {
    display: inline-block;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    position: relative;
    padding-bottom: 0px;
}

.show-container .section-title h1::before {
    content: '';
    left: 20%;
    position: absolute;
    height: 2px;
    right: 20%;
    background-color: #febd01;
    bottom: 0px;
}

.show-container .form-search {
    background: transparent;
    color: #ffffff;
}

.description {
    border-radius: 20px;
    margin-bottom: 30px;
    background: transparent;
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}

.description .img-fluid{
    border-radius: 20px;
    width: 100%;
    height: 300px;
}

.description .col-md-8{
    display: flex;
    justify-content: center;
    align-items: center;
}

.description .card-body {
    color: #ffffff;
}

.description .card-body .card-title{
    font-size: 30px;
    font-weight: 600;
    color: #ffff66;
}

.description .card-body .card-text{
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    color: #ffffff;
}

.description .card-body .card-text small{
    font-size: 18px;
    color: #cc9966;
}

.description .card-body button{
    padding: 5px 20px;
    background: transparent;
    border-radius: 20px;
    border: 1px solid #febd01;
}

.description .card-body button a{
    text-decoration: none;
    color: #febd01;
    font-size: 20px;
}

.description .card-body button:hover{
    background: #febd01;
}

.description .card-body button:hover a{
    color: #000000;
}

.page-item.disabled .page-link {
    color: #febd01;
    background-color: transparent;
    border-color: #febd01;
}

.page-link {
    color: #febd01;
    background-color: transparent;
    border-color: #febd01;
}

.page-link:hover {
    background-color: #febd01;
    color: #ffffff;
}

.footer {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 30px;
    text-align: center;
}

@media(max-width: 600px){
    .show-container {
        padding: 0px;
    }
    .show-container .section-title{
        margin: 10px 0px;
    }
    .show-container .section-title h1 {
        font-size: 1.2rem;
    }
    .description .img-fluid{
        height: 200px;
    }
    .description .card-body .card-title{
        font-size: 25px;
    }
    .description .card-body .card-text{
        font-size: 15px;
    }
    .description .card-body .card-text small{
        font-size: 14px;
    }
    .description .card-body button a{
        font-size: 18px;
    }
}

.new{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.new .section-title {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin: 20px 0px;
}

.new .section-title h1 {
    display: inline-block;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #ffffff;
    position: relative;
    padding-bottom: 0px;
}

.new .section-title h1::before {
    content: '';
    left: 20%;
    position: absolute;
    height: 2px;
    right: 20%;
    background-color: #febd01;
    bottom: 0px;
}

.new .new-description .form-label{
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}

.new .new-description .inputs{
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    color: #ffffff;
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}

.new .new-description .input-group{
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);   
}

.new .new-description .input-group-text{
    background: transparent;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 10px;
}

.new .new-description .input-group input{
    background: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 10px;
}

.new .new-description .form-file{
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);  
}

.new .new-description .form-file-text{
    background: transparent;
    border: none;
    outline: none;
    color: #ffffff; 
    padding: 10px;
}

.new .new-description .form-file-button{
    background: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 10px; 
}

.new .new-description .button{
    padding: 5px 20px;
    font-size: 20px;
    background: transparent;
    color: #febd01;
    border: 1px solid #febd01;
    margin-right: 10px;
    border-radius: 20px;
}

.new .new-description .button:hover{
    color: #000000;
    background: #febd01;
}

.new .new-description p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.new .new-description p a{
    text-decoration: none;
    color: #677EFF;
    letter-spacing: 1px;
}

@media (max-width: 600px){
    .new {
        margin-top: 0px;
    }
}

.edit{
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit .section-title {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin: 20px 0px;
}

.edit .section-title h1 {
    display: inline-block;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #ffffff;
    position: relative;
    padding-bottom: 0px;
}

.edit .section-title h1::before {
    content: '';
    left: 20%;
    position: absolute;
    height: 2px;
    right: 20%;
    background-color: #febd01;
    bottom: 0px;
}

.edit .edit-description .form-label{
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}

.edit .edit-description .inputs{
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    color: #ffffff;
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}

.edit .edit-description .input-group{
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);   
}

.edit .edit-description .input-group-text{
    background: transparent;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 10px;
}

.edit .edit-description .input-group input{
    background: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 10px;
}

.edit .edit-description .form-file{
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);  
}

.edit .edit-description .form-file-text{
    background: transparent;
    border: none;
    outline: none;
    color: #ffffff; 
    padding: 10px;
}

.edit .edit-description .form-file-button{
    background: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 10px; 
}

.edit .edit-description .form-check-inline{
    margin-right: 0.4rem;
}

.edit .edit-description .name{
    color: #ffffff;
}

.edit .edit-description p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.edit .edit-description p a{
    text-decoration: none;
    color: #677EFF;
    letter-spacing: 1px;
}

@media (max-width: 600px){
    .edit {
        margin-top: 0px;
    }
}