@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.fix{
    clear: both;
    overflow: hidden;
}

header {
    overflow: hidden;
    height: 100vh;
}

.vid-bg{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.nav-area{
    position: absolute;
    width: 100%;
    padding: 0;
}

.nav-area .container-fluid{
    background: rgba(0, 0, 0, 0.7);
    padding: 3px 30px
}

.logo{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-nav .nav-link{
    color: #fff;
    padding: 5px 10px;
    letter-spacing: 2px;
}

.navbar-nav .nav-link:hover{
    color: rgba(255,255,255,0.5);
    border-bottom-color:rgba(255,255,255,0.5);
}

.banner-text{
    position: relative;
    top: 40%;
    margin: auto;
    text-align: center;
    width: 100%;
}

.banner-text h2{
    color: #fff;
    font-size: 3rem;
    margin: 0;
}

.banner-text p{
    color: #fff;
    font-size: 18px;
    margin: 10px 0px;
    font-weight: bold;
}

.btn{
    display: block;
    margin: 20px auto;
    background: transparent;
    border: 0;
    font-size: 20px;
    text-transform: uppercase;
    border: 3px solid #fff;
    padding: 10px 25px;
    color: #fff;
    border-radius: 25px;
}

.btn:hover{
    background-color: #fff;
}

.btn a{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.btn:hover a{
    color: #000000;
}

@media(max-width: 600px){
    .nav-area .container-fluid{
        padding: 3px 20px;
    }
    .banner-text{
        top: 33%;
        padding: 0 10px;
    }
    .banner-text h2{
        font-size: 2rem;
    }
    .banner-text p{
        font-size: 14px;
        margin-top: 20px;
    }
}