<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/stars.css">

<div class="row edit">
    <div class="section-title">
        <h1>Edit Review</h1>
    </div>

    <div class="col-md-6 edit-description">
        <form action="/tours/<%= id %>/reviews/<%= review._id %>?_method=PUT" method="POST" novalidate class="validated-form">
            <fieldset class="starability-basic">
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>

            <div class="mb-3 review-body">
                <label class="form-label" for="body">Review text</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required><%= review.body %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <button class="btn btn-info">Update Review</button>
            
        </form>
    </div>
</div>