<% layout('layouts/boilerplate')%>

<section>
    <div class="container-fluid login">
        <div class="user singinBx">
            <div class="formBx">
                <form action="/forgot" method="POST" novalidate>
                    <header><span class="fa fa-users"></span></header>
                    <h2>Forgot Password</h2>
                    <input type="email" name="email" placeholder="Enter your email address" required> 
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <button>Reset Password</button>
                    <p class="signup">Go back to <a href="/login">Sign In.</a></p>
                </form>
            </div>
            <div class="imgBx">
                <img src="https://images.unsplash.com/photo-1571863533956-01c88e79957e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80" alt="1">
            </div>
        </div>
    </div>
</section>