<% layout('layouts/boilerplate')%>

<section class="login-section">
    <div class="container-fluid login">
        <div class="user singinBx">
            <div class="formBx">
                <form action="/forgot" method="POST" novalidate>
                    <header><span class="fa fa-users"></span></header>
                    <h2>Forgot Password</h2>
                    <input type="email" name="email" placeholder="Enter your email address" required> 
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <button>Reset Password</button>
                    <p class="signup">Go back to <a href="/login">Sign In.</a></p>
                </form>
            </div>
            <div class="imgBx">
                <img src="https://images.unsplash.com/photo-1554357475-accb8a88a330?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTEzfHx0cmF2ZWx8ZW58MHwxfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="1">
            </div>
        </div>
    </div>
</section>