<% layout('layouts/boilerplate')%>

<section>
    <div class="container-fluid">
        <div class="user singinBx">
            <div class="formBx">
                <form action="/register" method="POST" novalidate>
                    <h2>Sign Up</h2>
                    <input type="text" name="username" placeholder="Username" autofocus required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <input type="email" name="email" placeholder="Email Address" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <input type="password" name="password" placeholder="Password" required> 
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <button>Sign Up</button>
                    <p class="signup">Already have an account ? <a href="/login">Sign in.</a></p>
                </form>
            </div>
            <div class="imgBx">
                <img src="https://images.unsplash.com/photo-1539183204366-63a0589187ab?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8Y2FtcGluZ3xlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=1000&q=60" alt="1">
            </div>
        </div>
    </div>
</section>